/* CONTAINER CLASS STYLING */
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.container div{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    min-width: 200px;
    flex: 1 0 200px;
    text-align: center;
}

.container div a:link{
    color: var(--darkblue);
}

.container div a:visited{
    color: var(--darkblue);
}
/* END CONTAINER CLASS STYLING */


/* TABLE STYLING */
table{
    max-width: 100%;
}

th{
    background-color: var(--lightblue);
    color: black;
    border-radius: 12px;
    width: calc((60vw - 6rem) / 6);
}
th, td{
    font-size: 1rem;
    padding: 0.8vw;
    text-align: center;
}

td{
    color: black;
    background-color: var(--lightblue);
    border-radius: 12px;
}
/* END TABLE STYLING */


/* CV STYLING */
.CV{
    width: 40%;
    border-radius: 12px;
    animation: ease-in-out;
    transition: 1000ms;
    position: relative;
    left: 0;
}

.CV:hover{
    width: 80%;
    left: 10%;
}
/* END CV STYLING */
