.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.container div{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    min-width: 300px;
    flex: 1 0 300px;
    text-align: center;
}

.container div a:link{
    color: #4577a0;
}

.container div a:visited{
    color: #4577a0;
}

table{
    width: 100%;
}

th{
    background-color: #AFC1D0;
    color: #000;
    border-radius: 12px;
    width: calc((60vw - 6rem) / 8);
}
th, td{
    padding: 8px;
    font-size: 1.2vw;
    text-align: center;
}

.CV{
    width: 40%;
    border-radius: 12px;
    animation: ease-in-out;
    transition: 500ms;
    position: relative;
    left: 0px;
}

.CV:hover{
    width: 80%;
    left: 10%;
}