.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.container div{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    min-width: 200px;
    flex: 1 0 200px;
    text-align: center;
}

.container div a:link{
    color: #4577a0;
}

.container div a:visited{
    color: #4577a0;
}

table{
    max-width: 100%;
}

th{
    background-color: #AFC1D0;
    color: #000;
    border-radius: 12px;
    width: calc((60vw - 6rem) / 6);
}
th, td{
    font-size: 1rem;
    padding: 0.8vw;
    text-align: center;
}

td{
    color: #000;
    background-color: #ffffffa0;
    border-radius: 12px;
}

.CV{
    width: 40%;
    border-radius: 12px;
    animation: ease-in-out;
    transition: 500ms;
    position: relative;
    left: 0px;
}

.CV:hover{
    width: 100%;
}