/* HEADER STYLING */
header{
    width: 60vw;
    padding-left: 3rem;
    padding-right: 3rem;
    border-radius: 25px;
    background: var(--bgcolor);
    box-shadow:  20px 20px 60px var(--shadow1),
                -20px -20px 60px var(--shadow2);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

header button{
    border: none;
    background: none;
    font-size: 1rem;
    color: var(--black);
    animation: ease-in-out;
    transition: 300ms;
    cursor: pointer;
}

header button:hover{
    letter-spacing: 4px;
}

header button:nth-child(1):hover{
    color: var(--black);
    font-weight: 600;
}

header button:nth-child(2):hover{
    color: var(--humanas);
    font-weight: 600;
}

header button:nth-child(3):hover{
    color: var(--linguagens);
    font-weight: 600;
}

header button:nth-child(4):hover{
    color: var(--matematica);
    font-weight: 600;
}

header button:nth-child(5):hover{
    color: var(--natureza);
    font-weight: 600;
}

header button:nth-child(6):hover{
    color: var(--tecnico);
    font-weight: 600;
}

header button:nth-child(7):hover{
    color: var(--ppe);
    font-weight: 600;
}

#themeIcon{
    cursor: pointer;
}
/* END HEADER STYLING */
