main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

section{
    width: 60vw;
    border-radius: 25px;
    background: #e0e0e0;
    box-shadow:  20px 20px 60px #bebebe,
                -20px -20px 60px #ffffff;
    margin-bottom: 2rem;
    padding: 3rem;
}
